wandb
*.pyc
*.txt
keys.py
test_perspective_api.py
tox_scores.json
perspective_scores.json
perspective_scores_*.json
llm
Llama-3-8B-ckpt*_continuations_seed1000.json
model_outputs
model_outputs_2405.zip
model_continuations*
outputs
plots
model_scores
model_outputs
#test_outputs
.vscode
closeness_testing
__MACOSX
artifacts
__pycache__
model_scores.tar.gz
poetry.lock
pyproject.toml
!requirements.txt