wandb
*.pyc
*.txt
keys.py
test_perspective_api.py
tox_scores.json
perspective_scores.json
perspective_scores_*.json
llm
Llama-3-8B-ckpt*_continuations_seed1000.json
model_outputs
model_outputs_2405.zip
model_continuations*
outputs
plots
model_scores
model_outputs
#test_outputs
.vscode
closeness_testing
__MACOSX
artifacts
__pycache__
model_scores.tar.gz
poetry.lock
pyproject.toml
!requirements.txt
model_generations
ad_hoc_plots.py
*.csv
*.png
challenging_indices.json
*.log
*.csv
natural-instructions
*.jsonl
*.json
test_outputs
processed_data/
dataset_lengths
test_bio_model.py
*.jpg
*.pdf
BalancingGroups
setup_utils